# Configuration file for Black Duck

# Basic project information
detect.project.name="OSPO: BDCLI"
detect.project.version.name=1.0.0
detect.project.description="An example of scanning a project using a Jenkins pipeline job."

# The standard policy is that permissive open source is permitted
detect.project.tags=adi_commercial_and_permissive

# We normally apply snippet matching.
detect.blackduck.signature.scanner.snippet.matching=SNIPPET_MATCHING

# We want to identify any licenses and copyrights, as they help with the review process.
detect.blackduck.signature.scanner.license.search=true
detect.blackduck.signature.scanner.copyright.search=true
detect.detector.search.depth=5
detect.detector.search.continue=true
detect.pip.path=.venv/bin/pip3
detect.python.path=.venv/bin/python3
detect.excluded.directories=.venv,scan-jenkinsfiles